<!DOCTYPE html>
<html>
	<head>
		<title>Brice willy blog</title>
	</head>
	<body>
		<div>
			<h1><a href="">Brice Willy Blog</a></h1>
		</div>
		<div>
			<p>Publié le 11.04.2020, 20:55</p>
			<h2><a href="">Mon premier poste</a></h2>
			<p>Si vous lisez ceci, c’est que vous avez décidé de vous lancer dans l’apprentissage de Django.
Avant de commencer, des présentations s’imposent : Django est un framework web écrit en
Python, qui se veut complet tout en facilitant la création d’applications web riches.
Avant de commencer à écrire du code, nous allons tout d’abord voir dans ce chapitre ce qu’est
un framework en général, et plus particulièrement ce qu’est Django. Dans un second temps,
nous verrons comment l’installer sur votre machine, pour pouvoir commencer à travailler ! Est-il
utile de vous rappeler encore ici qu’il est nécessaire d’avoir les bases en Python pour pouvoir
commencer ce cours ?</p>
		</div>
		<div>
			<p>Publié le 11.04.2020, 21:00</p>
			<h2><a href="">Mon second poste</a></h2>
			<p>Un framework instaure en quelque sorte sa « ligne de conduite ». Tous les développeurs Django
codent de façon assez homogène (leurs codes ont le même fonctionnement, les mêmes principes).
De ce fait, lorsqu’un développeur rejoint un projet utilisant un framework qu’il connaît déjà, il
comprendra très vite ce projet et pourra se mettre rapidement au travail.
Le fait que chaque framework possède une structure commune pour tous ses projets a une
conséquence tout aussi intéressante : en utilisant un framework, votre code sera le plus souvent
déjà organisé, propre et facilement réutilisable par autrui.
Voici d’ailleurs un grand défi des frameworks : bien que ceux-ci doivent instaurer une structure
commune, ils doivent aussi être souples et modulables, afin de pouvoir être utilisés pour
une grande variété de projets, du plus banal au plus exotique. Autrement, leur intérêt serait
grandement limité !</p>
		</div>
	</body>
</html>